.formAndMap{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--section-padding-bottom) 18%;
}

.formWrapper{
    width: 50%;

}
.mapWrapper{
    width: 45%;
    overflow: hidden;
}

.menuCover{
    position: relative;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
}

.mapWrapper iframe{
    position: absolute;
    left:0;
    top:-15%;
    height: 115%;
    width: 100%;
    /* margin-top: -5%; */
    border: none;
    
}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
    .formAndMap{
        padding: 0 5% 5vw 5%;
    }

    .mapWrapper iframe{
        top:-24%;
    height: 124%;
    }
}

 /* MOBILE STYLES */
@media only screen and (max-width: 649px){
    .formAndMap{
       justify-content: center;
        flex-direction: column;
        gap: 8vw;
    }
    
    .formWrapper{
        width: 100%;
    
    }
    .mapWrapper{
        width: 100%;
    }
    .mapWrapper iframe{
        top:-30%;
    height: 130%;
    }
    
}