.header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    padding: var(--section-padding-top) 5% calc(var(--section-padding-top) * 1.5) 5%;
    color: white;
}

.textWrapper{
    width: 50%;
}

.buttonWrapper{
    display: flex;
    gap: 2vw;
}

.textWrapper h1{
    font-size: 6rem;
    font-family: var(--secondary-font);
    line-height: 120%;
}

.textWrapper h1 span{
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.493);
}

.serving{
    margin: 3vw 0 2vw 0;
    padding: 0.5vw 2vw;
    background-color: #bb3530cc;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
.serving svg{
    width: 2vw;
    height: 2vw;
}
.serving span{
    font-size: 1.2rem;
    margin-left: 1vw;
}

.textWrapper h3{
    font-weight: 600;
    font-size: 1.8rem;
    padding-right: 40%;
    line-height: 160%;
    margin: 2vw 0;
}


/* SMALL LAPTOP STYLES */
@media only screen and (min-width: 991px) and (max-width: 1400px){

}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
    .header{
        padding: calc(var(--section-padding-top) * 3) 5% calc(var(--section-padding-top) * 1.5) 5%;
    }
    .textWrapper h1{
        font-size: 4.5rem;
    }
    
    .serving{
        margin: 4vw 0 3vw 0;
        padding: 1vw 2vw;
    }
    .serving svg{
        width: 3vw;
        height: 3vw;
    }
    .serving span{
        font-size: 1.4rem;
    }
    
    .textWrapper h3{
        font-size: 1.8rem;
        padding-right: 15%;
        line-height: 180%;
        margin-bottom: 3vw;
    }
}

 /* MOBILE STYLES */
@media only screen and (max-width: 649px){
    .header{
        padding: calc(var(--section-padding-top) * 1.5) 5% calc(var(--section-padding-top) * 1.5) 5%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15vw;
    }
    .textWrapper h1{
        font-size:5.5rem;
        text-align: center;
    }
    .textWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
    }
    .buttonWrapper{
    flex-direction: column;
    gap: 4vw;
}

.buttonWrapper a{
    
    text-align: center;
}
    
    .serving{
        margin: 6vw 0 4vw 0;
        padding: 1vw 2vw;
    }
    .serving svg{
        width: 5vw;
        height: 5vw;
    }
    .serving span{
        font-size: 1.6rem;
    }
    
    .textWrapper h3{
        font-size: 1.8rem;
        padding-right: 0%;
        line-height: 180%;
        margin-bottom: 6vw;
        text-align: center;
    }
}