.community{
    align-items: center;
    justify-content: space-between;
    display: flex;
    position: relative;
    color: var(--primary-text-color);
}
.community h4{
    
    color: var(--primary-color);
    font-size: 1.1rem;
    line-height: 100%;
    /* margin-left: 0.5vw; */
}

.textWrapper{
    padding-left: 10%;
    width: 40%;
}

.textWrapper h2{
    font-size:4rem;
    font-weight: 800;
    padding-right: 10%;
    line-height: 110%;
    position: relative;
    font-family: var(--secondary-font);
}

.textWrapper p{
    margin: 2vw 0;
    font-size: 1.1rem;
    font-family: var(--primary-font);
    line-height: 200%;
    padding-right: 20%;
    /* font-weight: 300; */
}

.imgWrapper{
    position: relative;
    width: 50%;
    aspect-ratio: 1/1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 19% 100%);
}

.shader{
    background-color: var(--primary-color);
    opacity: .7;
}

/* SMALL LAPTOP STYLES */
@media only screen and (min-width: 991px) and (max-width: 1400px){

}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
    .community h4{
        font-size: 1.2rem;
    }
    .textWrapper{
       padding-left: 5%;
        width: 50%;
    }
    
    .textWrapper p{
        margin: 3vw 0;
        font-size: 1rem;
        padding-right: 0;
          line-height: 150%;
    }
    
    .imgWrapper{
        aspect-ratio: 1/1.2;
    }
    .textWrapper h2{
        font-size: 3rem;
    }
}

 /* MOBILE STYLES */
@media only screen and (max-width: 649px){
    .community h4{
        font-size: 1.3rem;
        color: var(--primary-color);
    }
    .textWrapper{
        padding-left: 5%;
        padding: 10vw 5%;
         width: 90%;
         font-size: 1.4rem;
         color: var(--secondary-text-color);
     }
     
     .textWrapper p{
         margin: 6vw 0;
         font-size: 1.3rem;
         line-height: 140%;
         padding-right: 15%;
     }
     
     .imgWrapper{
         position: absolute;
         top:0;
         left:0;
         width: 100%;
         height: 100%;
         clip-path:none;
     }
     .shader{
        background-color: #200505;
        opacity: .8;
     }
}