.infiniteRibbon{
  --time: 30s;
    padding-top: 2vw;
    padding-bottom: 2vw;
    margin: var(--section-padding);
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
}

.infiniteRibbonInner{
  overflow: hidden;
  display: flex;
  mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
  padding: 1vw 0;
  border-top: 4px solid var(--secondary-text-color);
  border-bottom: 4px solid var(--secondary-text-color);
}

.infiniteRibbonInner div{
  white-space: nowrap;
  animation: marquee var(--time) linear infinite;
  font-family: var(--secondary-font);
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}

.infiniteRibbonInner div:nth-child(2){
  animation: marquee2 var(--time) linear infinite;
  animation-delay: calc(var(--time) / 2);
}

.infiniteRibbonInner div:nth-child(3){
  animation: marquee3 calc(var(--time) / 2) linear;
}


.infiniteRibbonInner div span{
  padding: 0 1vw;
}

.infiniteRibbonInner div *:not(span){
  font-size: 1rem;
}


  
  @keyframes marquee {
    0%{
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes marquee2 {
    0%{
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-200%);
    }
  }

  @keyframes marquee3 {
    0%{
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(-300%);
    }
  }

  /* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
  .infiniteRibbon{
      padding-top: 3vw;
      padding-bottom: 3vw;
  }
}
/* MOBILE STYLES */
@media only screen and (max-width: 649px){
  .infiniteRibbon{
      padding-top: 4vw;
      padding-bottom: 4vw;
  }
  
  .infiniteRibbonInner{
    padding: 2vw 0;
  }
  
  .infiniteRibbonInner div{
    font-size: 2rem;
    letter-spacing: 0.15rem;
  }
  .infiniteRibbonInner div span{
    padding: 0 2vw;
  }
  
  .infiniteRibbonInner div *:not(span){
    font-size: 1rem;
  }
}