.serviceArea{
    padding: calc(var(--section-padding-top) * 2) 0;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.areas{
    display: inline-block;
    position: relative;
    width: 35%;
    padding: 2vw 2.5%;
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.areaShader{
    position: absolute;
    /* background-color: #2a7785; */
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: -1;
    top:0;
    left:0;
}

.areas h2{
    position: relative;
    color: var(--secondary-text-color);
    font-size:5rem;
    font-family: var(--secondary-font);
    line-height: 110%;
    margin-bottom: 5vw;
}

.areas h2 span{
    /* color: transparent;
    background: linear-gradient(90deg, white 0%, var(--primary-color) 100%);
    background-clip: text;
    -webkit-background-clip: text; */
}

.areas a{
    margin-top: 4vw;
    /* margin-left: 2rem; */
}

.divider{
    background-color: white;
    height: 2px;
    width: 100%;
}


.area{
    display: inline-flex;
    width: 45%;
    padding: 1vw 2.5%;
    color: white;
    align-items: center;
}

.shader2{
    clip-path: polygon(19% 0, 100% 0, 100% 100%, 0% 100%);
    z-index: -1;
    background-color: var(--primary-color);
    width: 50%;
    left: auto;
    right: 0;
}

.area svg{
    width: 3vw;
    height: 3vw;
}

.area svg path{
    fill: var(--primary-color);
}

.area span{
    padding-left: 0.5vw;
    font-size: 1.5rem;
    font-weight: 700;
}

.areas{
    position: relative;
}

.serviceAreaMap{
    display: inline-block;
    position: relative;
    width: 38%;
    aspect-ratio: 1.4/1;
    overflow: hidden;
    max-height: 100%;
    outline: .5rem solid black;
}

.serviceAreaMap iframe{
    position: absolute;
    top:-30%;
    left:0;
    width: 100%;
    height: 130%;
    /* margin-top: -5%; */
    border: none;
}

/* SMALL LAPTOP STYLES */
@media only screen and (min-width: 991px) and (max-width: 1400px){
    .areas h2{
        margin-bottom: 3vw;
    }
}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
    .serviceArea{
        margin-top: 3vw;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        padding-bottom: 0;
        gap: 8vw;
    }
    
    .areas{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 90%;
        padding: 4vw 5%;
    }
    
    .areas h2{
        font-size: 7rem;
        text-align: center;
        line-height: 110%;
        margin-bottom: 5vw;
    }
    
    .area{
        width: 30%;
        font-size: 1.2rem;
        padding: 1vw 4%;
    }
    
    .area svg{
        width: 4vw;
        height: 4vw;
    }
    
    .area span{
        padding-left: 1vw;
    }
    
    .serviceAreaMap{
        width: 100%;
        height: 35vw;
    }

    .shader2{
        display: none;
    }
    .divider{
        display: inline-block;
        width: 70%;
        margin: 0 15%;
    }
    
}

/* MOBILE STYLES */
@media only screen and (max-width: 649px){
    .shader2{
        display: none;
    }
    .serviceArea{
        margin-top: 3vw;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        padding-bottom: 0;
        gap: 14vw;
    }
    
    .areas{
        width: 90%;
        padding: 6vw 5%;
    }
    
    .areas h2{
        font-size: 5rem;
        text-align: center;
        line-height: 110%;
        margin-bottom: 5vw;
    }
    .areas h2::after{
       height: 2px;
       margin: 0 20%;
       width: 60%;
    }
    
    
    .area{
        width: 45%;
        padding: 2vw 2.5%;
    }
    
    .area svg{
        width: 6vw;
        height: 6vw;
    }
    
    .area span{
        padding-left: 1vw;
        font-size: 1.5rem;
    }
    
    .serviceAreaMap{
        width: 100%;
        height: 60vw;
    }
    .serviceAreaMap iframe{
        top:-40%;
        height: 140%;
    }
    .areas a{
    margin-top: 8vw;
    /* margin-left: 2rem; */
}
    .buttonWrapper{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
    