.needHelp{
    position: relative;
    padding: var(--section-padding-top) 15%;
    background: var(--primary-gradient-r);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text{
    font-family: var(--secondary-font);
    font-size: 2.5rem;
    font-weight: 900;
    width: 60%;
    color: white;
    line-height: 150%;
}

.button{
    color: var(--primary-color);
    background: white;
}



/* SMALL LAPTOP STYLES */
@media only screen and (min-width: 991px) and (max-width: 1400px){
.text{
    width: 50%;
}
}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
.needHelp{
   justify-content: center;
   flex-direction: column;
   gap: 6vw;
}

.text{
    width: 90%;
    text-align: center;
    font-size: 2.2rem;
}
}

 /* MOBILE STYLES */
@media only screen and (max-width: 649px){
.needHelp{
   justify-content: center;
   flex-direction: column;
   gap: 10vw;
}

.text{
    width: 100%;
    text-align: center;
    font-size: 3rem;
}
}